

/** Start of variables **/

$white: #fff;
$grey: #c9c9c9;
$secondary: #8567ff;
$dark: #0d0d0d;
$primary: #0d0d0d;
$light: #f4f5ff;
$green: #429f74;
$crimson: #893030;


$btn-sm-padding: 0.4rem 1rem;
$btn-lg-padding: 1.1rem 2.5rem;


$primary-font: "Poppins";


$mobile-width: 767px;

/** End of variables **/
